/*
    To do List:

    - Add the slider component
    - Add the toggle button
    - Add the hover property to the slider, toggle button and start trial button
    - Responsiveness
    - Work on the Js. The price should change when the slider reach certain places

    To the toggle button theres some material here: https://www.w3schools.com/howto/howto_css_switch.asp
    It seems I need some CSS animation to do it

    The slider seems harder
*/
/****************************************** Styles given by FEM **********************/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

.attribution { 
    margin-top: 15px;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/****************************************** Generic Styles *****************************/
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    background-color: hsl(224, 65%, 95%);
}

.flex-col-center{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.flex-row-center{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.main-container{
    height: 100%;
    font-size: 12px;
    color: hsl(225, 20%, 60%);
    background-repeat: no-repeat;
    background-image: url('./images/bg-pattern.svg');
}

.title-container{
    height: 25%;
    font-size: 10px;
    text-align: center;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url('./images/pattern-circles.svg');
}

.component-container{
    border-radius: 13px;
    background-color: hsl(0, 0%, 100%);
}

.slider-component{
    width: 80%;
    overflow: hidden;
    margin: 10px 0px;
}

.slider{
    width: 100%;
    margin: 18px 0;
    appearance: none;
    border-radius: 25px;
    -webkit-appearance: none;
}

.slider::-webkit-slider-runnable-track{
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    border-radius: 50px;
    background: hsl(226, 100%, 91%);
    box-shadow: 1px 1px 1px hsl(226, 100%, 91%), 
    0px 0px 1px hsl(226, 100%, 91%);
}

.slider::-webkit-slider-thumb{
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -14px;
    -webkit-appearance: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsl(174, 86%, 45%);
    background-image: url('./images/icon-slider.svg');
    /* Did not find a way to set the shadow to a correct size */
    /* box-shadow: -130px 0 0 130px hsl(174, 77%, 80%); */
}

input[type=range]:focus {
    outline: none;
}

.toggle-button{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    margin: 0 10px;
}

.toggle-button input{
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: .4s;
    -webkit-transition: .4s;
    background-color: hsl(223, 50%, 87%);
}

.toggle::before{
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 1.5px;
    transition: .4s;
    -webkit-transition: .4s;
    background-color: white;
}

.round{
    border-radius: 34px;
}

.round::before{
    border-radius: 50%;
}

input:checked + .toggle:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

input:checked + .toggle {
    background-color: hsl(174, 86%, 45%);
}

input:focus + .toggle {
    box-shadow: 0 0 1px hsl(223, 50%, 87%);
}


ul{
    list-style-image: url('./images/icon-check.svg');
}

ul li{
    margin: 10px auto;
}

.start-trial{
    outline: none;
    border-style: none;
    padding: 15px 30px;
    text-align: center;
    border-radius: 30px;
    color: hsl(225, 20%, 60%);
    background-color: hsl(227, 35%, 25%);
}

.discount{
    padding: 2px 5px;
    border-radius: 25px;
    background-color: hsl(14, 92%, 95%);
    text-align: center;
    color: hsl(15, 100%, 70%);
}
/******************************************* Mobile Styles ***************************/
.sub-title{
    width: 70%;
    margin: 0 auto;
}

.component-container{
    width: 80%;
    max-width: 345px;
    display: flex;
}

.price-desktop{
    display: none;
}

.upward-container{
    width: 100%;
}

.billing-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.yearly{
    display: inherit;
}

.yearly-text{
    margin-right: 10px;
}

.downward-container{
    border-top: 1px solid hsl(223, 50%, 87%);
}
/********************************************** Desktop Styles  *****************************************/
@media only screen and (min-width: 980px){
    .component-container{
        height: 100%;
        max-width: 500px;
        max-height: 350px;
    }
    .downward-container{
        width: 100%;
        display: flex;
        padding: auto 1px;
        align-items: center;
        justify-content: space-around;
    }

    .yearly{
        margin-top: 5px;
    }

    .list-container, .start-trial{
        margin-top: 20px;
    }
}